*{
    padding: 0%;
    margin: 0%;
}
.navbar{
    width: 100%;
    /* margin-top: 1em; */
    display: flex;
    background-color: rgb(195, 193, 193);
}

.navbar ul{
    width: 100%;
    display: flex;
    list-style: none;
    flex-direction: row;
    position: relative;
}

.navbar ul li{
    padding: 5px;
    opacity: 80%;
    transition: 0.5s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}
.navbar ul li a{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-decoration: none;
color: black;
}

.navitem{
height: 40px;
width: 80px;
margin: 20px;
padding: 5px;
text-align: center;
}
.navitem:hover{
    background-color: rgb(43, 43, 43);
    padding: 5px;
    border-radius: 20%;
    opacity: 100%;
    color: rgb(255, 255, 255);
    transform: translateY(-10px);
    cursor: pointer;
}
.naviteminner:hover{
    color: rgb(255, 255, 255);
    height: inherit;
    width: inherit;
}

.logo{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 20px;
    height: 40px;
width: 80px;
margin: 20px;
padding: 5px;
text-align: center;
}

.Login a{
   color: aliceblue;
   text-decoration: none;
}

.Login a:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
 }
 

.Login{
    /* position: absolute;
    left: 80%; */
    /* float: right; */
    /* margin-left: 60%; */
    background: #213d59;
    background: -webkit-linear-gradient(left, #213D59, #A4A3A0);
    background: -moz-linear-gradient(left, #213D59, #A4A3A0);
    background: linear-gradient(to right, #213D59, #A4A3A0);
    height: 50px;
    width: 100px;
    border-radius: 5%;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0px;
    opacity: 80%;
    margin-right: 2em;
    justify-content: space-between;
}

.cartlogo img{
    width: 50px;
    padding: 5px;
    opacity: 80%;
    margin-right: 2em;
    justify-content: space-between;
    height: 40px;
width: auto;
margin: 20px;
padding: 5px;
text-align: center;
}

.showMb{
     display: none;
}

.showMb hr{
    border: 2px solid black;
    padding: 1px;
    width: 30px;
}

.hideMb{
    width: 100%;
    /* margin-top: 1em; */
    display: flex;
}

.sideNav{
    z-index: 1;
    position: absolute ;
    top: 0;   
}

.sideNav ul {
    display: flex;
    flex-direction: column;
    background-color: rgb(144, 152, 149);
    width: 50vw;
    height: 100vh;
}
.sideNav ul li{
    padding: 5px;
}

.close{
    font-size: larger;
    width: inherit;
    font-weight: bold;
}

.search-nav{
    width: 200px;
    height: 50px;
    padding: 20px;
    background:transparent;
    border: 3px solid black;
    border-radius: 20px;
}

@media only screen and (max-width:500px) {
    .showMb{
        display: block;
    }
    .hideMb{
        display: none;
    }
    
}