/* .filter-container{
    width: 15vw;
}

.product-container{
    width: 75vw;
    padding: 10px;
}

.home-page{
    display: flex;
    flex-direction: row;
} */

/* 
@media only screen and (max-width:550px) {

    .filter-container{
        width: 0;
        padding: 0;
    }
    
} */